.App {
  margin: 20px;
}

main {
  margin-top: 55px;
}

.heading {
  text-transform: uppercase;
  color: #1976d2;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.25;
  min-height: 30px;
  margin-top: 5px;
}

.toolbar {
  min-height: 45px !important;
}

.app-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 8fr;
  gap: 5px;
  margin-right: 10px;
  box-sizing: border-box;
  height: 275px;
  align-items: center;
}

.app-top-row {
  grid-column: 1 / 1;
  grid-row: 1 / 2;
}

.app-bottom-row {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
}

div[role=tabpanel] {
  min-height: 285px;
}

.back-button {
  font-size: 2rem !important;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-drag-drop {
  cursor: move;
}

.service-picker {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  box-sizing: border-box;
  height: 200px;
  gap: 10px;
  align-items: center;
}

.service-picker div {
  animation-duration: 0.7s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    opacity: .8;
    transform: translate(-15px, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.cloud-block-grid {
  text-align: center;
  font-weight: bold;
  display: grid;
  gap: 5px;
	align-items: center;
  justify-content: center;
}

.cloud-block-size {
  font-size: 13pt;
  width: 225px;
  height: 62px;
  border-radius: 6px;
}

.react-flow-container {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  height: 35vh;
  width: 98vw;
  margin-bottom: 25px;
}

.floatingedges {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.bg-ai {
  background-color: #1976d2 !important;
  color: #fff !important;
}

.bg-an {
  background-color: #28a745 !important;
  color: #fff !important;
}

.bg-cmp {
  background-color: #ff9c07 !important;
  color: #fff !important;
}

.bg-db {
  background-color: #dc3545 !important;
  color: #fff !important;
}

.bg-dev {
  background-color: #17a2b8 !important;
  color: #fff !important;
}

.bg-sec {
  background-color: #4528a7 !important;
  color: #fff !important;
}

.bg-iot {
  background-color: #a74528 !important;
  color: #fff !important;
}

.bg-int {
  background-color: #c107ff !important;
  color: #fff !important;
}

.bg-mgmt {
  background-color: #6c757d !important;
  color: #fff !important;
}

.bg-md {
  background-color: #ff007b !important;
  color: #fff !important;
}

.bg-mg {
  background-color: #ff4507 !important;
  color: #fff !important;
}

.bg-nw {
  background-color: #b817a2 !important;
  color: #fff !important;
}

.bg-st {
  background-color: #a2b817 !important;
  color: #fff !important;
}

.bg-365 {
  background-color: #172fb8 !important;
  color: #fff !important;
}

.bg-web {
  background-color: #454545 !important;
  color: #fff !important;
}

.bg-pp {
  background-color: #8b19d2 !important;
  color: #fff !important;
}

.icon {
  height: 20px;
  width: 20px;
  margin: auto;
}

.icon-react-flow {
  height: 10px;
  width: 10px;
  margin: auto;
}

.react-flow__node-default.selectable:hover, .react-flow__node-input.selectable:hover, .react-flow__node-output.selectable:hover {
  box-shadow: 0 0 0 1.0px #000 !important;
}

.react-flow__node-default.selected, .react-flow__node-default.selected:hover {
  box-shadow: 0 0 0 1.5px #000 !important;
}

.image-title-container {
  display: grid;
  grid-template-columns: 45px 1fr;
  align-items: center;
  justify-items: left;
}

.bg-light-gray {
  background-color: var(--theme-light-gray-color);
}

.mb-10 {
  margin-bottom: 10px;
}

.microsoft-image {
  width: 30px;
  margin-top: 5px;
}

.docs-learn-title {
  font-size: 1.2rem;
  font-weight: bold !important;
  border-left: 0px solid transparent !important;
  padding-left: 0px !important;
}

.bg-main {
  background-color: var(--theme-highlight-color);
  width: 35px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
}

.list h3 {
  margin: 0
}

.list ul {
  list-style-type: none;
  padding: 0;
}

.list ol {
  list-style-type: none;
  padding: 0;
  margin-left: 10px;
}

.list ul > li, .list ol > li {
  margin-bottom: 8px;
}

.list ul > li a, .list ol > li a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  border-left: 6px solid var(--theme-gray-color);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.list ul > li a:hover, .list ol > li a:hover {
  border-color: var(--theme-highlight-color);
}

.console {
  padding: 10px;
  background-color: #000;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
}

.comment {
  color: #15ff00;
}

.azure-cli-command {
  margin-bottom: 15px;
}


