:root {
  --theme-highlight-color: #1776D1;
  --theme-gray-color: #ccc;
  --theme-light-gray-color: #efefef;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
